<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dice Roll</title>
</head>
<body>
    <img src="dice_images/2_dice.png">
    <br>
    <a href="http://localhost:3000/roll">Roll</a>
</body>
</html>